@model IEnumerable<SacramentMeetingPlanner.Models.Meeting>

@{
    ViewData["Title"] = "Sacrament Meeting List";
}

    <h2 style="font-family: 'Adamina', serif;">Meeting List</h2>

<p>
    <a class="btn btn-success icon-lg" asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-active">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conductor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntermediateHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingPrayer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conductor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntermediateHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrayer)
            </td>
            <td>
                <a class="btn btn-primary btn-block fa fa-edit" data-toggle="tooltip" title="Edit Meeting Record" asp-action="Edit" asp-route-id="@item.ID"></a>
                <a class="btn btn-secondary btn-block fa fa-list" data-toggle="tooltip" title="Display Meeting Details" asp-action="Details" asp-route-id="@item.ID"></a>
                <a class="btn btn-danger btn-block fa fa-trash" data-toggle="tooltip" title="Delete Meeting" asp-action="Delete" asp-route-id="@item.ID"></a>
            </td>
        </tr>
}
    </tbody>
</table>
