@model SacramentMeetingPlanner.Models.Speaker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Speaker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpeakerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpeakerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meeting.ID)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary btn-lg fa fa-edit icon-xlg"data-toggle="tooltip" title="Edit Speaker Details" asp-action="Edit" asp-route-id="@Model.SpeakerID"></a>
    <a class="btn btn-info btn-lg icon-xlg fa fa-list" data-toggle="tooltip" title="Back to Speaker List" asp-action="Index"></a>
</div>
