@model IEnumerable<SacramentMeetingPlanner.Models.Speaker>

@{
    ViewData["Title"] = "Index";
}

<h2 style="font-family: 'Adamina', serif;">Speaker List</h2>

<p>
    <a class="btn btn-success icon-lg" asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-active">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meeting.ID)
            </td>
            <td>
                <a class="btn btn-primary fa fa-edit" data-toggle="tooltip" title="Edit Speaker Record" asp-action="Edit" asp-route-id="@item.SpeakerID"></a>
                <a class="btn btn-secondary fa fa-list" data-toggle="tooltip" title="Display Speaker Details" asp-action="Details" asp-route-id="@item.SpeakerID"></a>
                <a class="btn btn-danger fa fa-trash" data-toggle="tooltip" title="Delete Speaker Record" asp-action="Delete" asp-route-id="@item.SpeakerID"></a>
            </td>
        </tr>
}
    </tbody>
</table>
